<h1><%= pluralize(@concerts.size, "Concert") %></h1>

<ul>
  <% @concerts.each do |concert| %>
    <p><%= link_to concert.bands, concert %></p>
    <p><%= concert.date %></p>
    <p><%= concert.venue %> | <%= concert.location %></p>    
  <% end %>
</ul>

<%= link_to "Add New Concert", new_concert_path %>