<h1><%= pluralize(@concerts.size, "Concert") %></h1>

<ul>
  <% @concerts.each do |concert| %>
    <p><%= concert.bands %></p>
    <p><%= concert.venue %></p>
    <p><%= concert.location %></p>
    <p><%= concert.date %></p>
  <% end %>
</ul>