<h1><%= @concert.bands %></h1>

<p><%= @concert.date %></p>

<p><%= @concert.venue %> | <%= @concert.location %></p>

<%= link_to "Edit", edit_concert_path(@concert) %> |
<%= link_to "Delete", concert_path(@concert), method: :delete, data: { confirm: 'Are you sure?' } %>